// console.log("Pusher talk로 옮김");
//
// // Enable pusher logging - don't include this in production
// Pusher.logToConsole = true;
//
// var pusher = new Pusher('875ca84a0e960de5f4e4', {
//   cluster: 'ap1',
//   encrypted: true
// });
//
// // odk라는 채널을 구독하고 있다가
// // hllo라는 이벤트가 오면 controller에서 정의한 메시지를 alert로 띄운다.
// var channel = pusher.subscribe('odk');
// channel.bind('hello', function(data) {
//   // alert(data.message);
//   $('#talks').append("<p>"+ data.message +"</p>")
// });
//
//
// // $('#talks').append("<p><%= @talk.message %></p>")
